{% extends "base.html.twig" %}
{% block title %}
    Dossier Storage
{% endblock %}
{% block body %}
    <div class="container">
        <p>
            Please navigate through the Main Menu
        </p>
    </div>
{% endblock %}